@use "../variables" as *;

$menu-height: 4rem;

#chapters-menu-burger {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    @media screen and (min-width: $bp_tablet) {
        display: none;
    }
}

#chapters-menu {

    font-family: $font_secondary;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    @media screen and (min-width: $bp_tablet) {
        position: static;
        margin-top: $spacing_main;
        width: auto;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: flex-start;
        gap: 0.5rem;
        background-color: $color_paper;
        //inset: 0;     
        top: 0;
        bottom: 0;
        right: 100%;   
        padding: 2rem;
        position: fixed;
        overflow: hidden;
        transition: left 0.2s, right 0.2s;

        @media screen and (min-width: $bp_tablet) {
            position: static;
            flex-direction: row;
            background-color: transparent;
            justify-content: center;
            padding: 0;
        }
    }

    li {
        height: $menu-height;
        padding: 0 $spacing_main;
        border-radius: $border_radius_big;
        transition: background-color 0.2s linear;
        white-space: nowrap;

        &:hover {
            background-color: rgba($color_dark, 0.1);
        }
        
        &.active {
            background-color: rgba($color_dark, 0.8);

            a {
                color: $color_light;
            }
        }
    }

    a {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: $menu-height;
        color: $color_primary;

        &.disabled {
            pointer-events: none;
            color: rgba($color_primary, 0.5);
        }
    }

    &.active {
        ul {
            left: 0;
            right: 0;
        }
        #chapters-menu-burger {
            position: fixed;
        }
    }
}