@use "../variables" as *;

#header {

    padding-top: $spacing_main;

    h1 {
        font-family: $font_main;
        color: $color_primary;
        text-align: center;
        text-wrap: balance;

        padding: 0 4rem;

        @media screen and (min-width: $bp_tablet) {
            padding: 0;
        }
    }
}