@use "../variables" as *;

.word-list {

    & > h3 {
        margin-bottom: 0.5rem;

        span.comment {
            margin-left: 0.5rem;
            font-size: 1rem;
            font-style: italic;
            font-weight: 300;
            color: $color_secondary;
        }
    }

    .more {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color_light, 0.8);
        border-bottom-left-radius: $border_radius_main;
        border-bottom-right-radius: $border_radius_main;
        .icon {
            display: block;
            width: 0.7rem;
            height: 0.7rem;
            color: $color_secondary;
            transition: transform 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
    }

    &.expanded {
        .more {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
}