@use "../variables" as *;

.word {

    border: 1px solid rgba($color_light_secondary, 0.5);
    background-color: $color_light;
    border-radius: 0.5rem;
    margin-top: 2px;
    box-shadow: 0 0 0.5rem rgba(0,0,0,.03);  
    overflow: hidden;
    
    &.expanded {
        .expand {
            .icon {
                transform: rotate(180deg);
            }
        }
    }

    .informal {
        display: inline-block;
        i {
            font-size: 0.8rem;
            margin-right: 0.2rem;
        }
        &::before {
            display: inline;
            content: "("
        }
        &::after {
            display: inline;
            content: ")"
        }
    }
    .nominative {
        color: $color_secondary;
    }
    .translation {
        color: $color_secondary;
        font-style: italic;   
    }
    .armenian {
        font-weight: 500;
    }
    .comment {
        color: $color_secondary;
        font-size: 0.8rem;
        font-weight: 400;
        font-style: italic;
        //margin-left: 0.5rem;
    }
    .transcription {
        font-family: $font_secondary;
        color: $color_secondary;
        font-size: 0.9rem;
        display: inline-block;
        &::before {
            display: inline;
            content: "["
        }
        &::after {
            display: inline;
            content: "]"
        }
    }

}

.word__header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    padding: 0.2rem;
    padding-left: 0.5rem;

    span, a {
        margin-right: 0.3rem;
        line-height: 1.2rem;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-color: rgba($color_primary, 0.2);
        text-underline-offset: 2px;
    }

    .icon {
        width: 0.7rem;
        height: 0.7rem;
        color: $color_dark;
        transition: transform 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    .actions {
        display: flex;
        gap: 0.2rem;
        margin-left: auto;
        margin-right: 0.2rem;

        a {
            width: 1rem;
            height: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}


.word__info {
    background-color: $color_paper;
    padding: 0.7rem 0.5rem;
    border-top: 1px solid rgba($color_light_secondary, 0.5);

    .pfx {
        font-family: $font_secondary;
        color: $color_secondary;
        font-weight: 500;
        font-size: 0.5rem;
    }

    h5 {
        font-family: $font_secondary;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 0;
        margin-top: 1rem;
        color: rgba($color_primary, 0.8);
        margin-bottom: 0.2rem;
        &:first-child {
            margin-top: 0;
        }
    }

    .word-form {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }
}

.word__examples {
    background-color: $color_paper;
    padding: 0.5rem;
    border-top: 1px solid rgba($color_light_secondary, 0.5);
    span {
        margin-right: 0.3rem;
    }
}
