
$color_light: #fff3e2;
$color_light_secondary: #fcd868;
$color_dark: #cd6045;
$color_dark_secondary: #e59c16;
$color_paper: #fff;

$color_primary: #2d3a3d;
$color_secondary: #4c526b;

$font_main: 'Lora', serif;
$font_secondary: 'Raleway', sans-serif;

$spacing_main: 1rem;
$spacing_small: 0.7rem;
$spacing_big: 2rem;

$border_radius_main: 1rem;
$border_radius_big: 1.2rem;

$bp_tablet: 800px;
$bp_desktop: 1024px;